/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Styles for the body */

body {
	font-family: Lato, "Open Sans", Roboto, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #202030;
	background-color: #f8f8fc;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: #16516b;
	padding: 20px 0px 20px 0px;
	color: aliceblue;
	padding-left: 20px
}
.header-content {
	justify-content: center;
	align-content: center;
	
	
}
.resume-main {
	background-color: #fffefc;
}

.resume-aside {
	background-color:#16516b;
	color:white;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #EE7623;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
	color: red;
}

.madimi-one-regular {
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#name {
	
	font-family: "madimi One", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	color: aliceblue;
}

.contact-list {
	
	background-color: white;
	padding: 10px;
	border-radius: 10px;

}

.contact-item {
	justify-content: center;
	padding: 10px;
}

.contact-icon {
	
	margin-right: 10px;
}
.sub {
	color: #16516b;
	font-family: "madimi One", Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	margin-left: 25px;
}
#contact {
	color: white;
	margin-left: 0px;
}